body {
    overflow:hidden;
    background-color: white !important;
}

.mainWindow {
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    max-height: 900px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fullWindow {
    width: 70%;
    height: 100%;
    overflow: hidden;
    border: solid 1px black;
    position: relative;
}

.gameArea {
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 800px;
    overflow: hidden;
    position: absolute;
    background-image: url(../gameAssets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 30%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    background-image: url(../gameAssets/ui/backgroundBox5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}