body {
    overflow:hidden;
    background-color: white !important;
    zoom: 200%;
}

.fullWindow {
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
}

.gameArea {
    display: block;
    margin: 0 auto;
    width: 960px;
    height: 600px;
    border:1px solid #000;
    overflow: hidden;
    position: absolute;
    background-image: url(../gameAssets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}