body {
    overflow:hidden;
    background-color: black !important;
}

.mainWindow {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fullWindow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: solid 1px black;
    position: relative;
}

.gameArea {
    left: 25vw;
    top: 20vh;
    display: block;
    margin: 0 auto;
    width: 768px;
    height: 640px;
    overflow: hidden;
    position: absolute;
    background-image: url(../maps/map1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    width: 30%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    background-image: url(../gameAssets/ui/backgroundBox5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.propMenuBar {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 80px;
    background-color: #000000a1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
}

.propBtn {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}