.gameArea {
    /* left: 25vw;
    top: 20vh; */
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 640px;
    overflow: hidden;
    position: absolute;
    background-image: url(../maps/map2.png);
    background-repeat: no-repeat;
    background-size: cover;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.prop0 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop0.png);
}
.prop1 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop1.png);
}
.prop2 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop2.png);
}
.prop3 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop3.png);
}
.prop4 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop4.png);
}
.prop5 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop5.png);
}
.prop6 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop6.png);
}
.prop7 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop7.png);
}
.prop8 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop8.png);
}
.prop9 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop9.png);
}
.prop10 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop10.png);
}
.prop11 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop11.png);
}
.prop12 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop12.png);
}
.prop13 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop13.png);
}
.prop14 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop14.png);
}
.prop15 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop15.png);
}
.prop16 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop16.png);
}
.prop17 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop17.png);
}
.prop18 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop18.png);
}
.prop19 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop19.png);
}
.prop20 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop20.png);
}
.prop21 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop21.png);
}
.prop22 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop22.png);
}
.prop23 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop23.png);
}
.prop24 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop24.png);
}
.prop25 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop25.png);
}
.prop26 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop26.png);
}
.prop27 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop27.png);
}
.prop28 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop28.png);
}
.prop29 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop29.png);
}
.prop30 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop30.png);
}
.prop31 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop31.png);
}
.prop32 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop32.png);
}
.prop33 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop33.png);
}
.prop34 {
    background-size: 32px !important;
    background-image: url(../gameAssets/PropObjects/prop34.png);
}

