.mainJumbotron {
    background-color:#755d5da6;
    text-align: center;
    padding: 2rem 1rem;
}

.btn-primary {
    background-color: darkred;
    border-color: darkred;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
}

h4 {
    color: black !important;
}

table {
    color: white !important;
    text-align: left;
}

.table-dark {
    background-color: #4a0c0f;
    border-color: black;
}

body {
    background-image: url(../gameAssets/background.png);
    background-color: #45283c;
    background-position: bottom;
    background-repeat: no-repeat;
    background-repeat-x: inherit;
    background-size: contain;
}


h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}
h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
}
.hideAccordeonInput input.accordeon {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}
.row {
    display: flex;
}
.row .col {
    flex: 1;
}
/* Accordion styles */
.tabs {
    overflow: hidden;
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #4a0c0f;
    font-weight: bold;
    cursor: pointer;
   /* Icon */
}
.tab-label:hover {
    background: darkred;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #4a0c0f;
    background:#755d5da6;
    transition: all 0.35s;
    border-radius: 0 !important;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #4a0c0f;
    cursor: pointer;
}
.tab-close:hover {
    background: #4a0c0f;
}
input:checked + .tab-label {
    background: #4a0c0f;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

.spinner-border {
    width: 8rem;
    height: 8rem;
}

.banner {
    background-image: url(../gameAssets/ui/backgroundBox2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 25px;
    font-size: xx-large;
}

.menuButton {
    background-image: url(../gameAssets/ui/backgroundBox2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 50px;
}

.menuButtonLobby {
    background-image: url(../gameAssets/ui/backgroundBox3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 50px;
}

.menuButtonJoinLobby {
    background-image: url(../gameAssets/ui/backgroundBox4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 32px;
    padding-left: 50px;
    padding-right: 50px;
}

.input-group {
    width: 700px;
}

.menubtnsize {
    height: 35px;
}

.spacer {
    margin-bottom: 40px;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.playerIconBox {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.playerNameReady {
    font-size: large;
}

.form-control {
    border-radius: 0 !important;
}

.custom-select {
    border-radius: 0 !important;
}

.input-group-text {
    border-radius: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

.input-group-text-lobbycreator {
    width: 150px;
}

.lobbyTableContainer {
    height: 335px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #45283c;
}

*::-webkit-scrollbar-thumb {
    background-color: #4a0c0f;
    border-radius: 0px;
    border: 3px solid #4a0c0f;
}