.player {
    height: 50px;
    width: 25px;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: center;
    left: 30%;
    top: 30%;
    z-index: 10;
}

.otherClient {
    height: 50px;
    width: 25px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
     -ms-user-select: none;
         user-select: none;
}

.otherClientSeeker {
    height: 250px;
    width: 250px;
    border: solid 1px red;
    border-radius: 100%;
    position: absolute;
    background-position: center;
    background-size: 25px;
    -webkit-transform: translate3d(-45%, -35%, 0); 
    -moz-transform: translate3d(-45%, -35%, 0);  
    transform: translate3d(-45%, -35%, 0);  
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
     -ms-user-select: none;
         user-select: none;
}

.otherClient:hover {
    border: 1px solid red;
}

.object {
    height: 50px;
    width: 25px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: center;
}

.object:hover {
    border: 1px solid red;
}

.deadPlayer {
    animation-name: deadPlayerAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: deadPlayerAnimation;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes deadPlayerAnimation{
	0% {
		background-image: url(../gameAssets/Character/dead1.png);
	}
    100% {
		background-image: url(../gameAssets/Character/dead2.png);
	}	
}

.deadPlayer-left {
    animation-name: deadPlayer-leftAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: deadPlayer-leftAnimation;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes deadPlayer-leftAnimation{
	0% {
		background-image: url(../gameAssets/Character/dead1-left.png);
	}
    100% {
		background-image: url(../gameAssets/Character/dead2-left.png);
	}	
}

.deadPlayer-right {
    animation-name: deadPlayer-rightAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: deadPlayer-rightAnimation;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes deadPlayer-rightAnimation{
	0% {
		background-image: url(../gameAssets/Character/dead1-right.png);
	}
    100% {
		background-image: url(../gameAssets/Character/dead2-right.png);
	}	
}

.hunter {
    animation-name: hunterAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: hunterAnimation;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes hunterAnimation{
	0% {
		background-image: url(../gameAssets/Character/hunter1.png);
	}
    100% {
		background-image: url(../gameAssets/Character/hunter2.png);
	}	
}

.hunter-left {
    animation-name: hunter-leftAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: hunter-leftAnimation;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes hunter-leftAnimation{
	0% {
		background-image: url(../gameAssets/Character/hunter1-left.png);
	}
    100% {
		background-image: url(../gameAssets/Character/hunter2-left.png);
	}	
}

.hunter-right {
    animation-name: hunter-rightAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: hunter-rightAnimation;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes hunter-rightAnimation{
	0% {
		background-image: url(../gameAssets/Character/hunter1-right.png);
	}
    100% {
		background-image: url(../gameAssets/Character/hunter2-right.png);
	}	
}