.player {
    height: 50px;
    width: 25px;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 45%;
}

.otherClient {
    height: 50px;
    width: 25px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    display: flex;
    justify-content: center;
}

.hunter--Down{
    background-image: url(../gameAssets/Character/red_down.png);
}

.hunter--Up{
    background-image: url(../gameAssets/Character/red_up.png);
}

.hunter--Left{
    background-image: url(../gameAssets/Character/red_left.png);
}

.hunter--Right{
    background-image: url(../gameAssets/Character/red_right.png);
}

.playerDeath {
    height: 50px;
    width: 32px;
    position: relative;
    background-image: url(../gameAssets/Character/killed_01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: center;
    animation-name: killed;
    animation-duration: 2s;
}

@keyframes killed {
    0%   {background-image: url(../gameAssets/Character/killed_01.png);}
    50%  {background-image: url(../gameAssets/Character/killed_02.png);}
    100%  {background-image: url(../gameAssets/Character/killed_03.png);}
}

.prop0 {
    background-image: url(../gameAssets/PropObjects/prop0.png);
}
.prop1 {
    background-image: url(../gameAssets/PropObjects/prop1.png);
}
.prop2 {
    background-image: url(../gameAssets/PropObjects/prop2.png);
}
.prop3 {
    background-image: url(../gameAssets/PropObjects/prop3.png);
}
.prop4 {
    background-image: url(../gameAssets/PropObjects/prop4.png);
}