body {
    overflow:hidden;
}

.fullWindow {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.gameArea {
    display: block;
    margin: 0 auto;
    width: 960px;
    height: 600px;
    border:1px solid #000;
    overflow: hidden;
    position: relative;
    background-image: url(../gameAssets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.player {
    height: 50px;
    width: 32px;
    position: relative;
    background-image: url(../gameAssets/Character/blue_down.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: center;
}

.otherClient {
    height: 50px;
    width: 32px;
    position: absolute;
    background-image: url(../gameAssets/Character/red_down.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: center;
}

.gameInfoBar {
    display: block;
    margin: 0 auto;
    width: 960px;
    height: 30px;
}

.bombIcon {
    width: 25px;
    height: 25px;
    background-image: url(../gameAssets/bomb/bomb_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bombCountBar {
    width: 100px;
    height: 25px;
}

.healthBarOutline {
    height: 25px;
    width: 200px;
    padding: 2px;
    -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
    -moz-box-shadow:inset 0px 0px 0px 2px #fff;
    box-shadow:inset 0px 0px 0px 2px #fff;
    margin-right: 3px;
    overflow: hidden;
}

.healthBarInline {
    height: 21px;
    background-color: darkred;
}

.bomb--one {
    background-image: url(../gameAssets/bomb/bomb_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bomb--two {
    background-image: url(../gameAssets/bomb/bomb_02.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bomb--three {
    background-image: url(../gameAssets/bomb/bomb_03.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bomb--explo {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../gameAssets/bomb/explo_03.png);
}

.bomb {
    position: absolute;
    width: 25px;
    height: 25px;
}

.playerDeath {
    height: 50px;
    width: 32px;
    position: relative;
    background-image: url(../gameAssets/Character/killed_01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: center;
    animation-name: killed;
    animation-duration: 2s;
}

@keyframes killed {
    0%   {background-image: url(../gameAssets/Character/killed_01.png);}
    50%  {background-image: url(../gameAssets/Character/killed_02.png);}
    100%  {background-image: url(../gameAssets/Character/killed_03.png);}
}

.gameOverScreen {
    padding-top: 30%;
    visibility: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.808);
    color: darkred;
    z-index: 99999999;
    text-align: center;
}

.gameOverText {
    color: darkred;
}