.gameArea {
    display: block;
    margin: 0 auto;
    width: 960px;
    height: 600px;
    border:1px solid #000;
    overflow: hidden;
    position: relative;
    background-image: url(../gameAssets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.player {
    height: 50px;
    width: 32px;
    position: relative;
    background-image: url(../gameAssets/Char01_Front.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: center;
}

.bomb {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../gameAssets/bomb_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.otherClient {
    height: 50px;
    width: 32px;
    position: absolute;
    background-image: url(../gameAssets/Char01_Front.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    display: flex;
    justify-content: center;
}

.gameInfoBar {
    display: block;
    margin: 0 auto;
    width: 960px;
    height: 30px;
}

.bombIcon {
    width: 25px;
    height: 25px;
    background-image: url(../gameAssets/bomb_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bombCountBar {
    width: 100px;
    height: 25px;
}