.gameArea {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    border:1px solid #000;
    overflow: hidden;
    position: relative;
    background-image: url(../gameAssets/BackgroundTest.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.player {
    height: 50px;
    width: 32px;
    position: relative;
    background-image: url(../gameAssets/Char01_Front.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

.bomb {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url(../gameAssets/Char01_Front.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.otherClient {
    height: 32px;
    width: 32px;
    position: absolute;
    background-image: url(../gameAssets/Char01_Front.png);
    background-repeat: no-repeat;
    background-size: cover;
}